var regYear = getRegExp("(y+)", "i");

var DateFr = {
	getDate: function (time, splitStr) {

		if (!time) return '';

		var date = getDate(time);
		var M = date.getMonth() + 1;
		var y = date.getFullYear();
		var d = date.getDate();

		if (M < 10) M = "0" + M;
		if (d < 10) d = "0" + d;

		if (splitStr)
			return y + splitStr + M + splitStr + d;
		else
			return {
				y: y,
				M: M,
				d: d
			};
	},
	dateFormat: function (timestamp, format) {
		if (!format) {
			format = "yyyy-MM-dd hh:mm:ss";
		}
		timestamp = parseInt(timestamp);
		var realDate = getDate(timestamp);

		function timeFormat(num) {
			return num < 10 ? '0' + num : num;
		}
		var date = [
			["M+", timeFormat(realDate.getMonth() + 1)],
			["d+", timeFormat(realDate.getDate())],
			["h+", timeFormat(realDate.getHours())],
			["m+", timeFormat(realDate.getMinutes())],
			["s+", timeFormat(realDate.getSeconds())],
			["q+", Math.floor((realDate.getMonth() + 3) / 3)],
			["S+", realDate.getMilliseconds()],
		];
		var reg1 = regYear.exec(format);
		// console.log(reg1[0]);
		if (reg1) {
			format = format.replace(reg1[1], (realDate.getFullYear() + '').substring(4 - reg1[1].length));
		}
		for (var i = 0; i < date.length; i++) {
			var k = date[i][0];
			var v = date[i][1];

			var reg2 = getRegExp("(" + k + ")").exec(format);
			if (reg2) {
				format = format.replace(reg2[1], reg2[1].length == 1 ?
					v : ("00" + v).substring(("" + v).length));
			}
		}
		return format;
	},
	getRandom: function (n, m) {
		// console.log("call......");
		return Math.floor(Math.random() * (m - n + 1) + n);
	}
}

module.exports = {
	getDate: DateFr.getDate,
	dateFormat: DateFr.dateFormat,
	getRandom: DateFr.getRandom
}