.blog_cate {
	position: fixed;
	left: 0;
	width: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	z-index: 99;
	background-color: rgba(255, 255, 255, .8);

	.blog_cate_list {
		white-space: nowrap;

		.blog_cate_list_item {
			display: inline-block;
			height: 30px;
			line-height: 30px;
			font-size: 15px;
			font-weight: lighter;
			text-align: center;
			padding: 5px 15px;
			border-bottom: 2px solid #fff;
			color: #000;
			transition: all .3s;
		}

		.blog_cate_list_item:last-child {
			margin-right: 40px;
		}

		.blog_cate_list_item.active {
			font-weight: bold;
			font-size: 15px;
			border-bottom: 2px solid #000;
			background: rgba(0, 0, 0, .5);
			color: #FFF;
		}
	}

	.blog_cate_list_more {
		width: 40px;
		height: 40px;
		line-height: 40px;
		background: linear-gradient(to right, rgba(255, 255, 255, .85) 20%, rgba(255, 255, 255, 1) 100%);
		// background: rgba(255, 255, 255, .8);
		// box-shadow: 1px 1px 5px rgba(255, 255, 255, .8);
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;
		opacity: 0.7;

		.fa {
			font-size: 20px;
			color: rgba(0, 0, 0, .8);
		}
	}
}

page {
	.blog_page {
		padding: 105rpx 25rpx 120rpx 25rpx;

		// 循环列表样式
		.blog_list {
			// box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
			padding: 13rpx;

			// 常规内容 -> type_default
			.blog_item {
				border-bottom: 1px solid #ddd;
				margin-bottom: 40rpx;
				box-shadow: 0 3px 9px rgba(0, 0, 0, .2);
				padding: 20rpx;
				border-radius: 10rpx;

				.blog_title {
					font-size: 40rpx;
					font-weight: bold;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					margin-bottom: 15rpx;
				}

				.blog_info {
					display: flex;
					justify-content: flex-start;

					view {
						font-weight: lighter;
						font-size: 25rpx;

						.fa {
							margin-right: 15rpx;
							font-weight: lighter;
						}
					}

					text.blog_info_divide {
						margin: 0 18rpx;
						font-size: 20rpx;
					}
				}

				.blog_description {
					font-size: 30rpx;
					font-weight: lighter;
					margin: 20rpx 0;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}

				.blog_img {
					position: relative;
					display: flex;
					box-shadow: 1px 5px 18px rgba(0, 0, 0, .4) inset;
					border-radius: 15rpx;

					image {
						width: 100%;
						height: 26vh;
						z-index: -1;
						vertical-align: top;
						border-radius: 15rpx;
					}
				}

				.blog_img.blog_video {
					.fa {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						color: #fff;
						font-size: 150rpx;
						opacity: .5;
					}
				}

				.blog_link {
					display: inline-block;
					border-bottom: 3px solid #000;
					font-weight: lighter;
					margin-top: 30rpx;
				}

				.blog_list_empty {
					text-align: center;

					text {
						font-size: 40rpx;
						font-weight: bold;
					}
				}
			}

			// 列表样式 -> type_1
			.blog_item.type_1 {
				display: flex;
				margin-bottom: 25rpx;

				.blog_image {
					width: 40%;
					display: flex;
					border-radius: 10rpx;
					position: relative;
					overflow: hidden;

					text.fa.fa-play-circle-o {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						color: #fff;
						font-size: 80rpx;
						opacity: .5;
					}

					image {
						width: 100%;
						height: 12vh;
					}
				}

				.blog_info {
					width: 60%;
					padding: 0 0 0 15rpx;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.blog_info_top {
						.blog_info_title {
							font-size: 30rpx;
							font-weight: bold;
						}

						.blog_info_desc {
							font-size: 25rpx;
							font-weight: lighter;
							margin: 5rpx 0;
							overflow: hidden;
							display: -webkit-box;
							text-overflow: ellipsis;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							white-space: normal;
						}
					}

					.blog_info_bottom {
						display: flex;
						position: relative;

						view {
							display: flex;
							align-items: center;
							margin: 0 10rpx;

							text.fa {
								margin-right: 3px;
							}
						}

						view:first-child {
							margin-left: 0;
						}

						view:nth-child(3) {
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
						}

						.blog_info_share {
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							right: -8rpx;
							display: flex;
							justify-content: center;
							z-index: 99;

							button {
								width: unset;
								height: unset;
								padding: 0;
								background: unset;
								margin: 0;

								text.fa {
									font-size: 40rpx;
									margin: 0;
									padding: 10rpx;
								}
							}
						}
					}
				}
			}

			// 列表样式 -> type_2
			.blog_item.type_2 {
				box-shadow: unset;
				margin-bottom: 0;
				border-radius: unset;
				border-bottom: 1px solid #ccc;
				padding: 50rpx 0 20rpx 0rpx;
				position: relative;

				.blog_item_upon {
					position: absolute;
					top: 0rpx;
					left: -30rpx;

					.blog_item_addtime {
						color: #666;
						font-size: 25rpx;

						text.fa {
							border-radius: 50%;
							font-size: 40rpx;
							font-weight: lighter;
							background-color: #fff;
							color: #ccc;
						}
					}
				}

				.blog_item_bottom {
					display: flex;

					.blog_item_info {
						width: 60%;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						padding: 0 10rpx;

						.blog_item_info_upon {
							.blog_item_title {
								text {
									font-size: 30rpx;
									font-weight: bold;
									color: #333;
								}
							}

							.blog_item_desc {
								margin: 5rpx 0;
								text-indent: 0.5em;
								text-overflow: ellipsis;
								overflow: hidden;
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								white-space: normal;

								text {
									font-size: 20rpx;
									font-weight: lighter;
									color: #333;
								}
							}
						}

						.blog_item_info_bottom {
							display: flex;
							font-size: 25rpx;
							color: #333;
							font-weight: lighter;

							view {
								margin: 0 15rpx;
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;

								text.fa {
									color: #000;
								}
							}

							view:first-child {
								margin-left: 0;
							}
						}
					}

					.blog_item_image {
						width: 40%;
						position: relative;
						display: flex;
						justify-content: center;
						border-radius: 12rpx;
						overflow: hidden;

						text.fa {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							font-size: 85rpx;
							color: #FFF;
							opacity: .5;
						}

						image {
							width: 100%;
							height: 12vh;
							border-radius: 12rpx;
						}
					}
				}
			}

			.blog_item.type_2:last-child {
				border-bottom: unset;
			}

		}

		// 图文样式2 - Special
		.blog_list.type_2 {
			padding: 15rpx;
			border: 1px solid #ccc;
			border-radius: 12rpx;
		}
	}
}

// 以下为瀑布流测试
.content {
	margin: 0 10rpx;
	text-align: justify;

	.left,
	.right {
		display: inline-block;
		vertical-align: top;
		width: 49%;

		.item {
			background-color: #fff;
			margin: 10rpx;
			margin-bottom: 20rpx;
			display: inline-block;
			width:100%;
			box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
			border-radius: 10rpx;

			.item_title_box {
				display: flex;
				position: relative;

				.item_title {
					font-size: 24rpx;
					font-family: 'PingFang SC-Medium';
					color: #1e1e1e;
					margin: 15rpx;
					// margin-left:0;
					line-height: 27rpx;
				}
			}

			.item_poster{
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				margin:0 auto;
				background:#fff;
				border-radius: 8rpx;
				.item-img {
					width: 100%
				}
			}

			.item_intro {
				padding: 0 15rpx;
				padding-bottom: 10rpx;
				font-size: 22rpx;
				color: #1e1e1e;
				font-family: 'PingFang SC-Medium';

				.name_title {
					font-size: 20rpx;
				}

				.item_intro_list{
					display: flex;
					// justify-content: space-around;
					.item_viewnum,.item_comment,.item_tag {
						margin-right: 20rpx;
						text.fa {
							margin-right: 8rpx;
						}
	
						text:last-child {
							color: #c4c4c4;
							text-decoration: underline;
							line-height: 10rpx;
						}
					}
				}

			}
		}
	}

	.right {
		// 右侧为浮动脱标
		float: right;
	}
}