.contact_container {
    padding: 25rpx;

    // 分割线
    .hr {
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, .3);
        margin: 30rpx 0;
    }

    // 标题
    .contact_title {
        font-size: 60rpx;
        font-weight: bold;
        padding: 30rpx 0;
    }

    // form表单
    .contact_form {
        .page-section.page-section-gap {
            position: relative;

            textarea.contact_textarea {
                padding: 5%;
                width: 90%;
                height: 200rpx;
                border: 1px solid #000;
            }

            .contact_msg_length {
                position: absolute;
                right: 15rpx;
                bottom: 10rpx;
                color: #666;
            }
        }

        .btn-area {
            button {
                color: #000 !important;
            }
        }
    }

    // 我的信息列表
    .contact_info {
        .contact_info_list {
            margin-left: 20rpx;
            font-size: 30rpx;

            .contact_info_item {
                margin: 10rpx 0;

                text.fa {
                    width: 30rpx;
                    height: 30rpx;
                    font-size: 30rpx;
                }

                text:nth-child(2) {
                    color: rgb(7, 87, 141);
                }

            }
        }
    }

    // 社交媒体
    .contact_social_media {
        .contact_social_media_title {
            font-size: 35rpx;
            font-weight: bold;
            margin: 15rpx 0 15rpx 20rpx;
        }

        .contact_social_media_list {
            display: flex;
            justify-content: start;
            margin-left: 25rpx;

            text {
                width: 45rpx;
                height: 45rpx;
                font-size: 45rpx;
                color: #333;
                margin-right: 30rpx;
            }

            text.fa-bilibili {
                background-image: url("https://6b61-kangyouknowwho-8ge6apb585a940c6-1304576484.tcb.qcloud.la/bilibili_icon.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center -1rpx;
            }
        }
    }

    // 社交媒体弹窗
    .contact_social_media_dialog {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 99;
        transition: opacity .3s;

        .media_dialog_under_cover {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .75);

            .media_dialog {
                width: 80%;
                border-radius: 20rpx;
                border: 3px solid #000;
                background-color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 20rpx 5rpx;

                .media_dialog_close {
                    width: 45rpx;
                    height: 45rpx;
                    border: 2px solid #000;
                    border-radius: 50%;
                    position: absolute;
                    top: -22.5rpx;
                    right: -22.5rpx;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    text.fa-close {
                        font-size: 30rpx;
                        font-weight: lighter;
                    }
                }

                .media_dialog_logo {
                    text-align: center;

                    text.fa {
                        color: #000;
                        font-size: 100rpx;
                        width: 100rpx;
                        height: 100rpx;
                    }

                    text.fa-bilibili::after {
                        content: "";
                        display: block;
                        width: 100rpx;
                        height: 100rpx;
                        background-image: url("https://6b61-kangyouknowwho-8ge6apb585a940c6-1304576484.tcb.qcloud.la/bilibili_icon.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                }

                .media_link {
                    font-size: 35rpx;
                    font-weight: bold;
                    text-align: center;
                    margin: 20rpx 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 0 10rpx;
                }

                .media_link_copy_btn {
                    width: 20%;
                    border-radius: 18rpx;
                    padding: 8rpx 50rpx;
                    border: 2px solid #000;
                    text-align: center;
                    margin: 0 auto;
                }

                .media_link_desc {
                    text-align: center;
                    padding: 40rpx 40rpx;
                }
            }
        }
    }

    .contact_social_media_dialog.hide {
        opacity: 0;
        z-index: -999;
    }

    // 接收订阅弹窗
    .contact_response_modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 99;
        transition: opacity .3s;

        .modal_dialog {
            width: 80%;
            border-radius: 20rpx;
            border: 3px solid #000;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20rpx 5rpx;

            .modal_tip {
                padding: 20rpx 5rpx;
                text-align: center;
            }

            .modal_tip:last-child {
                padding: 30rpx 0;
            }

            // .modal_tip.en{}
            // .modal_tip.cn{}
            .modal_btn_ls {
                display: flex;
                justify-content: space-around;
                padding: 20rpx 80rpx;

                .modal_btn {
                    padding: 10rpx 25rpx;
                    text-align: center;
                    border-radius: 18rpx;
                    border: 2px solid #000;
                }
            }
        }
    }

    .contact_response_modal.hide {
        opacity: 0;
        z-index: -999;
    }

    .contact_btn{
        position: fixed;
        right: 20rpx;
        bottom: 30vh;
        z-index: 999999;
        button{
            border-radius: 50%;
            width: 100rpx;
            height: 100rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            background-color: rgba(255,255,255,.1);
            text.fa{
                font-size: 50rpx;
            }
        }
    }

    // 留言列表
    .contact_msg_ul {
        margin-bottom: 15rpx;

        .contact_msg_li {
            padding: 15rpx 0 15rpx 150rpx;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
            min-height: 1px;
            position: relative;

            .contact_msg_body {
                .contact_msg_avatar {
                    width: 128rpx;
                    height: 128rpx;
                    margin-top: 15rpx;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                .contact_msg_head {
                    font-size: 35rpx;
                    font-weight: bold;
                }

                .contact_msg_content {
                    font-size: 25rpx;
                    font-weight: lighter;
                    margin: 13rpx 0;
                    text-indent: 0.5em;
                }

                .contact_msg_time {
                    font-size: 23rpx;
                    font-weight: lighter;
                }
            }

            .contact_list_item_response {
                box-sizing: border-box;
                position: relative;

                .response_text {
                    font-weight: lighter;
                    font-size: 25rpx;

                    text.response_auth {
                        font-weight: lighter;
                        font-size: 28rpx;
                    }

                    text.response_user {
                        font-weight: bold;
                        font-size: 30rpx;
                    }
                }

                .response_body {
                    .response_content {
                        font-size: 25rpx;
                        font-weight: lighter;
                        text-indent: 1em;
                        margin: 15rpx 0;
                    }

                    .response_time {
                        font-size: 20rpx;
                        font-weight: lighter;
                    }
                }

                .hr.content_hr {
                    width: 100%;
                    margin: 10rpx 0 !important;
                }
            }
        }

        .contact_msg_li:last-child {
            border-bottom: none;
        }
    }
}