.contact_container {
    padding: 25rpx;

    // 分割线
    .hr {
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, .3);
        margin: 30rpx 0;
    }

    // 标题
    .contact_title {
        font-size: 60rpx;
        font-weight: bold;
        padding: 30rpx 0;
    }

    // form表单
    .contact_form {
        .page-section.page-section-gap {
            position: relative;
            textarea.contact_textarea {
                padding: 5%;
                width: 90%;
                height: 200rpx;
                border: 1px solid #000;
            }
            .contact_msg_length{
                position: absolute;
                right:15rpx;
                bottom: 10rpx;
                color:#666;
            }
        }

        .btn-area {
            button {
                color: #000 !important;
            }
        }
    }

    // 我的信息列表
    .contact_info {
        .contact_info_list {
            margin-left: 20rpx;
            font-size:30rpx;

            .contact_info_item {
                margin: 10rpx 0;
                text.fa {
                    width: 30rpx;
                    height: 30rpx;
                    font-size: 30rpx;
                }
                text:nth-child(2){
                    color: rgb(7, 87, 141);
                }

            }
        }
    }

    // 社交媒体
    .contact_social_media {
        .contact_social_media_title {
            font-size: 35rpx;
            font-weight: bold;
            margin: 15rpx 0 15rpx 20rpx;
        }

        .contact_social_media_list {
            display: flex;
            justify-content: start;
            margin-left: 25rpx;

            text {
                width: 45rpx;
                height: 45rpx;
                font-size: 45rpx;
                color: #333;
                margin-right: 30rpx;
            }
            text.fa-bilibili{
                background-image: url("https://6b61-kangyouknowwho-8ge6apb585a940c6-1304576484.tcb.qcloud.la/bilibili_icon.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }

    // 留言列表
    .contact_msg_ul {
        margin-bottom: 15rpx;

        .contact_msg_li {
            padding: 15rpx 0 15rpx 150rpx;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
            min-height: 1px;
            position: relative;

            .contact_msg_body {
                .contact_msg_avatar {
                    width: 128rpx;
                    height: 128rpx;
                    margin-top: 15rpx;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                .contact_msg_head {
                    font-size: 35rpx;
                    font-weight: bold;
                }

                .contact_msg_content {
                    font-size: 25rpx;
                    font-weight: lighter;
                    margin: 13rpx 0;
                    text-indent: 0.5em;
                }

                .contact_msg_time {
                    font-size: 23rpx;
                    font-weight: lighter;
                }
            }
        }

        .contact_msg_li:last-child {
            border-bottom: none;
        }
    }
}