@import "../../../utils/wxParse/wxParse.wxss";

pre,
.wxParse-pre {
	display: block;
	padding: 9px;
	margin: 0 0 9.5px;
	font-size: 10px;
	line-height: 1.78;
	word-break: break-all;
	word-wrap: break-word;
	color: #333333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 0px;
}

.wxParse-hr {
	display: block;
	height: 0px;
	border: 0;
	border-top: 3px solid #ccc;
	margin: 20rpx 0;
}

.content_page {
	padding: 20rpx;
	position: relative;
	margin-bottom: 150rpx;

	image.content_img {
		width: 100%;
	}

	.content_title {
		font-size: 40rpx;
		font-weight: bold;
		padding: 15rpx;
	}

	.content_info {
		display: flex;
		justify-content: flex-start;
		font-size: 25rpx;

		view {
			.fa {
				margin-right: 10rpx;
			}
		}

		.content_info_divide {
			margin: 0 15rpx;
		}
	}

	.content_article {
		padding: 20rpx;

		.content_video {
			video {
				width: 100%;
			}
		}

		.wxParse-li-text {
			overflow: hidden;
		}
	}

	.content_comment {
		form.content_comment_form {
			textarea {
				width: 90%;
				height: 100rpx;
				border: 1px solid #ccc;
				padding: 3%;
			}

			.btn-area {
				button {
					color: #000;
				}
			}
		}
	}

	.comment_list {
		.comment_list_ul {
			.comment_list_li {
				.comment_list_item_body {
					padding: 15rpx;
					box-sizing: border-box;
					padding-left: 140rpx;
					position: relative;

					.comment_none_tip{
						font-size: 25rpx;
						font-weight: lighter;
					}

					.userinfo_avatar {
						width: 128rpx;
						height: 128rpx;
						margin-top: 20rpx;
						border-radius: 50%;
						position: absolute;
						left: 0;
						top: 0;
					}

					.comment_list_item_username {
						font-weight: bold;
						font-size: 30rpx;
					}

					.comment_list_item_msg {
						font-size: 25rpx;
						font-weight: lighter;
						margin: 15rpx 0;
						text-indent: 1em;
					}

					.comment_list_item_addtime {
						font-size: 20rpx;
						font-weight: lighter;
					}

					.hr {
						margin: 15rpx 0;
						width: 88%;
					}
				}
			}
			.comment_list_li:last-child{
				.comment_list_item_body{
					.hr{
						display: none;
					}
				}
			}
		}
	}

	.back_icon {
		position: fixed;
		right: 40rpx;
		bottom: 180rpx;
		font-size: 50rpx;
		width: 80rpx;
		height: 80rpx;
		line-height: 80rpx;
		text-align: center;
		border-radius: 50%;
		background: rgba(255, 255, 255, .7);
	}

	.content_footer {
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: space-around;
		background-color: #fff;
		padding: 30rpx 0;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);

		.content_comment_form {
			width: 55%;
			height: 70rpx;
			line-height: 70rpx;
			text-indent: 1em;
			background-color: #eee;
			border-radius: 10rpx;
			font-size: 20rpx;
			color: #666;
		}

		.icon {
			width: 10%;
			display: flex;
			justify-content: center;
			align-items: center;

			.fa {
				font-size: 45rpx;
			}
			button.fa{
				width: 45rpx;
				height: 45rpx;
				padding: 0;
				margin: 0;
			}
		}
	}
}

// 分割线
.hr {
	width: 95%;
	height: 1px;
	background-color: rgba(0, 0, 0, .3);
	margin: 30rpx auto;
}